<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Water_Station_Final.Properties.Settings.FinalEmployeeDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\abods\Downloads\Final_project\FinalEmployeeDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.FinalReportsDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\abods\Desktop\Final_project\FinalReportsDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.DBEmployeesConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DBEmployees.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.DB_EmployeeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\abods\Desktop\Final_project\DB_Employee.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.DB__EmployeeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\DB__Employee.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.DBReportsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DBReports.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Water_Station_Final.Properties.Settings.DBSReportsConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\abods\Desktop\DBSReports.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.StorsDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\abods\Desktop\Final_project\StorsDB.mdb"
            providerName="System.Data.OleDb" />
        <add name="Water_Station_Final.Properties.Settings.DB_water_employeeConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\DB_water_employee.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>